/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

@charset "UTF-8";
/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Volkhov:ital@1&display=swap");
body {
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: #7B7B7B;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: #655E7A;
}

blockquote {
  font-size: 18px;
  border-left: 5px solid #655E7A;
  padding: 20px 40px;
  text-align: left;
  color: #777;
}

.navbar-toggle .icon-bar {
  background: #655E7A;
}

input[type=email],
input[type=password],
input[type=text],
input[type=tel] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=tel]:focus {
  box-shadow: none;
  border: 1px solid #655E7A;
}

.form-control {
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #655E7A;
}

.slick-slide {
  outline: 0;
}

.btn-main, .btn-small, .btn-transparent {
  background: rgb(51, 178, 51);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 35px;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.2s ease;
  border-radius: 50px; /* Köşesiz yapmak için */
}
.btn-main.btn-icon i, .btn-icon.btn-small i, .btn-icon.btn-transparent i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.btn-main:hover, .btn-small:hover, .btn-transparent:hover {
  background: #201E59;
  color: #fff;
}

.btn-solid-border {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-solid-border:hover {
  border: 1px solid #655E7A;
  background: #655E7A;
}

.btn-transparent {
  background: transparent;
  padding: 0;
  color: #655E7A;
}
.btn-transparent:hover {
  background: transparent;
  color: #655E7A;
}

.btn-large {
  padding: 20px 45px;
}
.btn-large.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-small {
  padding: 10px 25px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}

.btn.active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.mt-10 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.btn:focus {
  color: #ddd;
}

.w-100 {
  width: 100%;
}

.margin-0 {
  margin: 0 !important;
}

#preloader {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999999;
}

.bg-shadow {
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.bg-gray {
  background: #f9f9f9;
}

.bg-primary {
  background: #655E7A !important;
}

.bg-primary-dark {
  background: #4d485d !important;
}

.bg-primary-darker {
  background: #353240 !important;
}

.bg-dark {
  background: #202122 !important;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.title {
  padding: 20px 0 30px;
}
.title h2 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-title p {
  font-style: italic;
  color: #666;
  font-family: "Volkhov", serif;
}

.section-subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.page-title {
  padding: 20px 0;
}
.page-title .block {
  text-align: center;
  position: relative; /* Pozisyonu görece konuma ayarı */
}



.page-title .block h1 {
  color: #fff;
  font-weight: 200;
  letter-spacing: 6px;
  margin-top: 0;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .page-title .block h1 {
    font-size: 32px;
  }
}
.page-title .block p {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
}

.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}

.page-wrapper {
  padding: 70px 0;
}

.social-media-icons ul li {
  display: inline-block;
}
.social-media-icons ul li a {
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
}
.social-media-icons ul li .twitter {
  background: #00aced;
}
.social-media-icons ul li .facebook {
  background: #3b5998;
  padding: 7px 18px;
}
.social-media-icons ul li .googleplus {
  background: #dd4b39;
}
.social-media-icons ul li .dribbble {
  background: #ea4c89;
}
.social-media-icons ul li .instagram {
  background: #bc2a8d;
}

.dropdown-slide {
  position: static;
}
.dropdown-slide .open > a,
.dropdown-slide .open > a:focus,
.dropdown-slide .open > a:hover {
  background: transparent;
}
.dropdown-slide.full-width .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
}
.dropdown-slide:hover .dropdown-menu {
  display: none;
  opacity: 1;
  display: block;
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  color: #777;
  transform: translateY(0px);
}
.dropdown-slide .dropdown-menu {
  border-radius: 0;
  opacity: 1;
  visibility: visible;
  position: absolute;
  padding: 15px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
}
@media (max-width: 480px) {
  .dropdown-slide .dropdown-menu {
    transform: none;
  }
}

.commonSelect {
  margin-left: 10px;
  padding-right: 6px;
  position: relative;
}
.commonSelect:before {
  content: "\f3d0";
  font-family: "themefisher-font";
  position: absolute;
  right: -4px;
  top: 4px;
  font-size: 10px;
}
.commonSelect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
  height: auto;
  color: #555;
}
.commonSelect select:focus {
  box-shadow: none;
  border: none;
}

.tabCommon .nav-tabs {
  border-bottom: 0;
  margin-bottom: 10px;
}
.tabCommon .nav-tabs li {
  margin-right: 5px;
}
.tabCommon .nav-tabs li a.active {
  background-color: #655E7A;
  border: 1px solid #655E7A;
  color: #ffffff;
}
.tabCommon .nav-tabs a {
  border-radius: 0;
  background: #f9f9f9;
}
.tabCommon .nav-tabs a:hover {
  border: 1px solid transparent;
  background: #655E7A;
  color: #fff;
}
.tabCommon .tab-content {
  padding: 20px;
  border: 1px solid #dedede;
}
.tabCommon .tab-content p {
  margin-bottom: 0;
}

.commonAccordion .panel, .commonAccordion-2 .panel {
  border-radius: 0;
  box-shadow: none;
}
.commonAccordion .panel .panel-heading, .commonAccordion-2 .panel .panel-heading {
  background: transparent;
  padding: 0;
}
.commonAccordion .panel .panel-title, .commonAccordion-2 .panel .panel-title {
  position: relative;
}
.commonAccordion .panel .panel-title a, .commonAccordion-2 .panel .panel-title a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 10px;
}
.commonAccordion .panel .panel-title a:before, .commonAccordion-2 .panel .panel-title a:before {
  color: #555;
  content: "\f209";
  position: absolute;
  right: 25px;
  font-family: "themefisher-font";
}
.commonAccordion .panel .panel-title a.collapsed:before, .commonAccordion-2 .panel .panel-title a.collapsed:before {
  content: "\f217";
}

.list-circle {
  padding-left: 20px;
}
.list-circle li {
  list-style-type: circle;
}

.play-icon {
  border: 1px solid #dedede;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 30px;
}
.play-icon i {
  line-height: 60px;
}

.alert-common {
  border-radius: 0;
  border-width: 2px;
}
.alert-common i {
  margin: 0 5px;
  font-size: 16px;
}

.alert-solid {
  background: transparent;
  color: #655E7A;
}

@media (max-width: 480px) {
  .buttonPart li {
    margin-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .buttonPart li {
    margin-bottom: 8px;
  }
}

.overly, .slider, .page-title {
  position: relative;
}
.overly:before, .slider:before, .page-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #201E59;
  opacity: 0.8;
}

.owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #655E7A !important;
}

#success,
#error {
  display: none;
}

#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}



/*--Header Start --*/
header {
  background: #fff;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
header .navbar-default .navbar-nav li a:hover {
  color: #000;
}

.navigation {
  background: #fff;
  padding: 20px 0;
}
.navigation .navbar {
  margin-bottom: 0px;
  border: 0px;
}
.navigation .navbar-brand {
  padding-top: 5px;
}

.navigation .navbar-brand img{
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.navigation .navbar-toggler {
  font-size: 36px;
}
.navigation .navbar-toggler:focus {
  outline: 0;
}
.navigation .navbar {
  background: none;
  border: 0px;
}
.navigation .navbar .navbar-nav {
  padding-top: 10px;
}
@media (max-width: 992px) {
  .navigation .navbar .navbar-nav {
    text-align: center;
  }
}
.navigation .navbar .navbar-nav > li > a {
  color: #5C5C5C;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
}
.navigation .navbar .navbar-nav > li > a:hover, .navigation .navbar .navbar-nav > li > a:focus {
  color: #000;
  background: transparent;
  transform: scale(1.25); /* Yazı büyüklüğünü artırmak için transform kullanın */
  transition: 0.3s;
}
.navigation .navbar .navbar-nav li.active > a {
  
  color:  #201E59;
  transform: scale(1.25);

}
.navigation .navbar .dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  padding: 0;
}
@media (max-width: 992px) {
  .navigation .navbar .dropdown-menu {
    text-align: center;
    float: left !important;
    width: 100%;
    margin: 0;
  }
}
.navigation .navbar .dropdown-menu li:first-child {
  margin-top: 10px;
}
.navigation .navbar .dropdown-menu li:last-child {
  margin-bottom: 10px;
}
.navigation .navbar .dropdown-menu a {
  font-weight: normal;
  color: #808080;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
.navigation .navbar .dropdown-menu a:focus, .navigation .navbar .dropdown-menu a:hover {
  background: #201E59;
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-menu,
.dropright .dropdown-menu {
  margin: 0;
}

.dropleft .dropdown-toggle::before,
.dropright .dropdown-toggle::after {
  font-weight: bold;
  font-family: "Ionicons";
  border: 0;
  font-size: 10px;
  vertical-align: 1px;
}

.dropleft .dropdown-toggle::before {
  content: "\f3d2";
  margin-right: 7px;
}

.dropright .dropdown-toggle::after {
  content: "\f3d3";
  margin-left: 7px;
}

.dropdown-item {
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .dropdown-item {
    padding: 0.6rem 1.5rem;
  }
}

.dropdown-submenu:hover > .dropdown-item,
.dropdown-item:hover {
  background: #655E7A;
  color: #fff !important;
}

.dropdown-item.active {
  text-decoration: underline;
  background-color: transparent;
  color: inherit;
}

.dropdown-submenu.active > .dropdown-toggle {
  text-decoration: underline;
  color: inherit;
}

ul.dropdown-menu li {
  padding-left: 0px !important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    transition: all 0.2s ease-in, visibility 0s linear 0.2s, transform 0.2s linear;
    display: block;
    visibility: hidden;
    opacity: 0;
    min-width: 200px;
  }
  .dropdown-menu li:first-child {
    margin-top: 10px;
  }
  .dropdown-menu li:last-child {
    margin-bottom: 10px;
  }
  .dropleft .dropdown-menu,
.dropright .dropdown-menu {
    margin-top: -10px;
  }
  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    transition: all 0.45s ease 0s;
    opacity: 1;
  }
}
.slider {
  background: url("../images/slider1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 100px 0;
  position: relative;
}

#myGrid1 {
 margin-right: 540px;
}
/*--Header Start --*/


/*--Brand Start --*/

.brand {
  position: relative;
  margin-bottom: 10px;
  padding: 30px 0;
  background: #ffffff;
}

.brand .brand-item {
  text-align: center; 
}

.brand .brand-item img {
  max-width: 100%;
  margin: auto; 
}

.brand .slick-prev,
.brand .slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  transition: .5s;
  background: black;
  border-radius: 4px;
}

.brand .slick-prev {
  left: 55px;
}

.brand .slick-next {
  right: 55px;
}

.brand .slick-slider:hover .slick-prev {
  left: 15px;
  opacity: 1;
}

.brand .slick-slider:hover .slick-next {
  right: 15px;
  opacity: 1;
}

.brand .slick-prev:hover,
.brand .slick-prev:focus,
.brand .slick-next:hover,
.brand .slick-next:focus {
  background: #000000;
}

.brand .slick-prev:hover::before,
.brand .slick-prev:focus::before,
.brand .slick-next:hover::before,
.brand .slick-next:focus::before {
  color: black;
}

.brand .slick-prev::before,
.brand .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #000000;
}

.brand .slick-prev::before {
  content: "\f104";
}

.brand .slick-next::before {
  content: "\f105";
}

/*--Brand End --*/



/*--Sldier Start --*/
@media (max-width: 992px) {
  .slider {
    padding: 150px 0;
  }
}
.slider .block {
  color: #E3E3E4;
  text-align: center;
}
.slider .block h1 {
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .slider .block h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .slider .block h1 {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider .block p {
  margin-bottom: 30px;
  color: #b9b9b9;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
}
@media (max-width: 992px) {
  .slider .block p {
    font-size: 16px;
  }
}

.call-to-action {
  padding: 70px 0px;
  text-align: center;
}
.call-to-action h2 {
  color: #fff;
}
.call-to-action p {
  color: #fff;
}
.call-to-action .btn-main, .call-to-action .btn-transparent, .call-to-action .btn-small {
  padding: 15px 35px;
  font-size: 12px;
  margin-top: 30px;
}

.service {
  text-align: center;
  padding: 90px 0;
}
.service .service-item {
  padding-bottom: 30px;
}
.service .service-item i {
  font-size: 60px;
  color: #201E59;
}
.service .service-item h4 {
  padding-top: 15px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.service .service-item p {
  padding-top: 10px;
  margin: 0;
}

.dark-service .title {
  color: #fff;
}
.dark-service .service-item {
  text-align: center;
  padding: 0 10px;
  padding-top: 30px;
}
@media (max-width: 480px) {
  .dark-service .service-item {
    padding: 0;
    padding-top: 30px;
  }
}
.dark-service .service-item i {
  font-size: 50px;
  color: #fff;
}
.dark-service .service-item h4 {
  color: #fff;
  padding-top: 15px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.dark-service .service-item p {
  padding-top: 10px;
  margin: 0;
}

.service-about p {
  line-height: 28px;
}

.service-arrow .block {
  padding: 70px 30px;
  text-align: center;
}
@media (max-width: 480px) {
  .service-arrow .block {
    padding: 60px 10px;
  }
}
.service-arrow .block i {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 15px;
}
.service-arrow .block p {
  color: #fff;
  margin-bottom: 0;
}
.service-arrow .block h3 {
  font-size: 24px;
}

.service-list .block {
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
}
@media (max-width: 480px) {
  .service-list .block {
    padding: 30px 20px;
  }
}
.service-list .block p {
  margin-bottom: 0;
}
/*--Sldier End --*/ 
.feature {
  background: url("../img/featue-bg.jpg");
  background-position: 50% 94px;
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0;
}
@media (max-width: 768px) {
  .feature {
    background-image: none !important;
    background-color: #F2F2F2 !important;
  }
}
.feature h2 {
  margin-bottom: 30px;
}
.feature p {
  color: #8d8f92;
  margin-bottom: 20px;
}
.feature .btn-view-works {
  background: #4d4a9a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px; /* Köşesiz yapmak için */
}

.feature .btn-view-works:hover{
  background: #201E59;
}

.portfolio-work {
  padding: 80px 0;
}
.portfolio-work .block .portfolio-menu {
  text-align: center;
}
.portfolio-work .block .portfolio-menu .btn-group {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .portfolio-work .block .portfolio-menu .btn-group {
    display: block;
  }
}
.portfolio-work .block .portfolio-menu .btn-group label {
  display: inline-block;
  border: 1px solid #dedede;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 15px;
  color: #333333;
  outline: 0;
  background: #fff;
  margin: 3px 2px;
  border-radius: 0;
  transition: all 0.3s ease;
}
.portfolio-work .block .portfolio-menu .btn-group label.active {
  background-color: #655E7A;
  border-color: #655E7A;
  color: #fff;
}

.portfolio-item {
  position: relative;
  padding: 0;
}
.portfolio-item img {
  width: 100%;
  height: auto;
}
.portfolio-item:hover .portfolio-hover {
  visibility: visible;
  opacity: 1;
}
.portfolio-item:hover .portfolio-content {
  transform: translateY(-50%);
}
.portfolio-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(60, 55, 55, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.portfolio-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-40%);
  text-align: center;
  padding: 20px;
  transition: inherit;
}
.portfolio-content * {
  color: #fff;
}
.portfolio-content a {
  display: block;
  transition: 0.2s ease;
}
.portfolio-content a:hover {
  color: #fff;
  opacity: 0.8;
}
.portfolio-content a i {
  font-size: 30px;
}
.portfolio-content a.h3 {
  margin-top: 0;
}

.portfolio-single-page .project-details h4 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px dashed #dedede;
}
.portfolio-single-page .project-details span {
  color: #838383;
  width: 180px;
  display: inline-block;
}
.portfolio-single-page .project-details strong {
  color: #313131;
  font-weight: normal;
}
.portfolio-single-page .project-details ul li {
  margin-bottom: 10px;
}

.portfolio-single-slider {
  cursor: -webkit-grab;
  cursor: grab;
}

.testimonial {
  padding: 100px 0;
}
.testimonial .block h2 {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
.testimonial .block p {
  padding-top: 50px;
  color: #7B7B7B;
}
.testimonial .counter-box li {
  width: 25%;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
}
.testimonial .testimonial-carousel1 {
  border: 1px solid #dedede;
  padding: 24px;
}
.testimonial .testimonial-carousel1 i {
  font-size: 35px;
}
.testimonial .testimonial-carousel1 p {
  font-family: "Volkhov", serif;
  line-height: 28px;
  padding-bottom: 20px;
}
.testimonial .testimonial-carousel1 .user img {
  padding-bottom: 0px;
  border-radius: 500px;
  width: 80px;
  display: inline-block;
}
.testimonial .testimonial-carousel1 .user p {
  font-family: "Roboto", sans-serif;
  padding-bottom: 0;
  margin-top: 6px;
  font-size: 12px;
  line-height: 20px;
}
.testimonial .testimonial-carousel1 .user p span {
  display: block;
  color: #353241;
  font-weight: 600;
}
.testimonial .testimonial-carousel1 .owl-carousel1 .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
.testimonial .testimonial-carousel1 .owl-carousel1 .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 30px;
  display: inline-block;
  border: 0px;
}

.counter-box i {
  font-size: 35px;
}
.counter-box h4 {
  font-size: 30px;
  font-weight: bold;
}
.counter-box span {
  color: #555;
}

.contact-form {
  padding-top: 70px;
  padding-bottom: 35px;
}
.contact-form .block .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
.contact-form .block .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  padding: 10px 20px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
.contact-form .block .form-group-2 {
  margin-bottom: 13px;
}
.contact-form .block .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
  padding: 15px 20px;
}
.contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-size: 18px;
}

.address-block li {
  margin-bottom: 10px;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}

.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}

.google-map {
  position: relative;
}

.google-map .map {
  width: 100%;
  height: 300px;
}

.contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}
.contact-box .block img {
  width: 100%;
}
.contact-box .block h2 {
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}
.contact-box .block p {
  color: #5C5C5C;
  display: block;
}


  
.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 10px;
  margin-left: -1px;
  position: relative;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-radius: 0;
  border-top-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  margin-top: -2px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 9px;
  font-weight: normal;
}


.bg-1 {
  background-image: url("../images/call-to-action-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-2 {
  background: url("../images/featue-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.bg-3 {
  background: url("../images/service8.png");
  background-size: contain;
  background-attachment: fixed;
  }

  .bg-4 {
    background: url("../images/contact12.jpeg");
    background-size: 50%;
    background-attachment: fixed;
    }

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  height: 40px;
  width: 40px;
  background: #655E7A;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}
@media (max-width: 480px) {
  .scroll-to-top {
    bottom: 15px;
    right: 15px;
  }
}
.scroll-to-top:hover {
  background-color: #333;
}
/*# sourceMappingURL=style.css.map */


/*** Contact Start ***/
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: none;
    border-bottom: 1px dotted #000;
    opacity: 0.8;
  }

  
  input[type=submit] {
    border: none;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border-radius: 50px; /* Köşesiz yapmak için */
    font-weight: bold;
    background-color: #4E4AD9;
   
    
  }
  
  input[type=submit]:hover {
    background-color:  green;
  } 

  form{
    margin-top: 105px;
  }
.formContact{
  max-width: 400px;
  margin-left: 50px;
}
.textContact{
  margin-top: 250px;
  max-width: 550px;
  
}
#form-group1{
  margin-top: 30px;
}

.LetsMeet {
  margin-top: 60px;
}

.elementor-image-box-content {
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
}

.icon {
  margin-top: 60px;
}

#fadeInUp1 {
  font-weight: bold;
  font-size: 55px;
  
}
.block{
  margin-top: 100px;
}
/*** Contact End ***/


/*** Footer Start ***/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 120px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #201E59;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: black;
  transition: ease .25s;
  opacity: 0.3;
  padding: 5px;
}

.footer-distributed .footer-links a:before {
  font-size: 20px;
  left: 0;
  color: #201E59;
  display: inline-block;
  padding-right: 10px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;

}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
  margin-right: 55px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #201E59;
  border-radius: 50%; 
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);

}

.footer-distributed p.footer-links a:hover {
  color: #201E59;
  transform: scale(1.10); /* Yazı büyüklüğünü artırmak için transform kullanın */
  transition: 0.3s;
  opacity: 1;

}

.footer-distributed:before,
.footer-distributed:after {
  display: table;
}

.footer-distributed:after {
  clear: both;
}

.footer-distributed .footer-left {
  float: left;
}

.footer-distributed .footer-left p {
  margin: 20px 0 0;
}

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed p.footer-links {
  margin: 20px 0 0;
}

.footer-distributed p.footer-links a:before {
  padding-right: 5px;
  color: #201E59;
  font-size: 20px;
}

.footer-distributed .footer-right a.social-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-left: 3px;
  color: #201E59;
  line-height: 35px;
  text-align: center;
  transition: all 0.25s;
}

.footer-distributed .footer-right a.social-icon:hover {
  background-color: #201E59;
  color: white;
}

.footer-line {
  height: 1px;
  background-color: #000; /* Çizginin rengini istediğiniz renkle değiştirebilirsiniz */
  margin: 10px 0; /* Çizginin üst ve alt boşluklarını ayarlayabilirsiniz */
  opacity: 0.2;
  margin-top: -40px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.logo-description{
  margin-left: 730px; /* Logodan sonra istediğiniz boşluğu ayarlayabilirsiniz */
}


.footer-logo img {
  max-width: 200px; /* İmajın maksimum genişliği ayarlanır */
  height: auto; /* İmajın oranlarını koruması sağlanır */
}
/*** Footer End ***/

